# SVM(Support vector machine)
it is used for Classification problems in Machine Learning.

In [1]:
import pandas as pd 
path ="C:\\Users\\mf879\\OneDrive\\Desktop\\Karunadu\\Data\\Data\\Social_Network_Ads.csv"
data=pd.read_csv(path)

In [2]:
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [4]:
print(data['Gender'].unique())# to display what are the objects in the row 
print(data['Gender'].nunique())# to display the number of unique objects 

data['Gender']=data['Gender'].map({'Male':1,'Female':0})
print(data)

['Male' 'Female']
2
      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510       1   19            19000          0
1    15810944       1   35            20000          0
2    15668575       0   26            43000          0
3    15603246       0   27            57000          0
4    15804002       1   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863       0   46            41000          1
396  15706071       1   51            23000          1
397  15654296       0   50            20000          1
398  15755018       1   36            33000          0
399  15594041       0   49            36000          1

[400 rows x 5 columns]

In [5]:
inputs=data.drop(['User ID','Gender'],'columns')
outputs=data.drop(['User ID','Gender','Age','EstimatedSalary'],'columns')

C:\Users\mf879\AppData\Local\Temp\ipykernel_5540\971251652.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputs=data.drop(['User ID','Gender'],'columns')
C:\Users\mf879\AppData\Local\Temp\ipykernel_5540\971251652.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  outputs=data.drop(['User ID','Gender','Age','EstimatedSalary'],'columns')

In [6]:
inputs

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [7]:
outputs

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [9]:
import sklearn 
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(inputs,outputs,train_size=0.8)

In [11]:
x_train

     Age  EstimatedSalary  Purchased
145   24            89000          0
330   38            51000          0
118   40            59000          0
9     35            65000          0
277   49            88000          1
..   ...              ...        ...
141   18            68000          0
297   43           112000          1
152   31            76000          0
38    26            72000          0
265   42           108000          1

[320 rows x 3 columns]

In [12]:
x_test

     Age  EstimatedSalary  Purchased
165   18            86000          0
333   40            65000          0
217   40            78000          0
249   35            97000          1
228   40            72000          0
..   ...              ...        ...
192   29            43000          0
365   59            29000          1
107   27            89000          0
238   46            82000          0
58    22            18000          0

[80 rows x 3 columns]

In [13]:
y_train

     Purchased
145          0
330          0
118          0
9            0
277          1
..         ...
141          0
297          1
152          0
38           0
265          1

[320 rows x 1 columns]

In [14]:
y_test

     Purchased
165          0
333          0
217          0
249          1
228          0
..         ...
192          0
365          1
107          0
238          0
58           0

[80 rows x 1 columns]

In [15]:
from sklearn.svm import SVC
model=SVC()

In [16]:
model.fit(x_train,y_train)

C:\Users\mf879\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [19]:
y_pred=model.predict(x_test)

In [20]:
print(y_test)
print(y_pred)

     Purchased
165          0
333          0
217          0
249          1
228          0
..         ...
192          0
365          1
107          0
238          0
58           0

[80 rows x 1 columns]
[0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0
 0 0 0 0 0 0]

In [21]:
from sklearn.metrics import confusion_matrix
cm= confusion_matrix(y_test,y_pred)

In [22]:
cm

array([[54,  2],
       [17,  7]], dtype=int64)

In [24]:
54+7

61

In [25]:
61+2+17

80

In [26]:
61/80*100

76.25

# Note:-
### 76% is not a good accuracy for ML approach so we try imporving it 
## We use Standard Scalar to improve the accuracy
### Standard scalar is used before machine preprocessing

In [27]:
import pandas as pd 
path ="C:\\Users\\mf879\\OneDrive\\Desktop\\Karunadu\\Data\\Data\\Social_Network_Ads.csv"
data=pd.read_csv(path)

In [28]:
print(data['Gender'].unique())# to display what are the objects in the row 
print(data['Gender'].nunique())# to display the number of unique objects 

data['Gender']=data['Gender'].map({'Male':1,'Female':0})
print(data)

['Male' 'Female']
2
      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510       1   19            19000          0
1    15810944       1   35            20000          0
2    15668575       0   26            43000          0
3    15603246       0   27            57000          0
4    15804002       1   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863       0   46            41000          1
396  15706071       1   51            23000          1
397  15654296       0   50            20000          1
398  15755018       1   36            33000          0
399  15594041       0   49            36000          1

[400 rows x 5 columns]

In [30]:
import sklearn 
from sklearn.model_selection import train_test_split

In [31]:
x_train,x_test,y_train,y_test=train_test_split(inputs,outputs,train_size=0.8)

### We are using the StandardScalar

In [33]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [34]:
x_train=sc.fit_transform(x_train)

In [35]:
x_test=sc.transform(x_test)

In [36]:
from sklearn.svm import SVC
model=SVC()

In [37]:
model.fit(x_train,y_train)

C:\Users\mf879\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [38]:
y_pred=model.predict(x_test)

In [39]:
print(y_test)
print(y_pred)

     Purchased
383          1
338          0
145          0
202          1
219          1
..         ...
3            0
350          1
279          1
38           0
249          1

[80 rows x 1 columns]
[1 0 0 1 1 1 0 0 1 0 1 1 0 1 0 1 1 1 0 1 0 0 1 1 0 0 1 1 1 0 0 1 0 0 0 0 1
 0 1 0 1 1 1 0 1 1 0 1 1 0 0 0 1 0 0 0 1 1 0 0 0 0 1 0 0 0 1 1 1 0 0 0 0 1
 0 0 1 1 0 1]

In [40]:
from sklearn.metrics import confusion_matrix
cm= confusion_matrix(y_test,y_pred)
print(cm)

[[42  0]
 [ 0 38]]

In [41]:
42+38

80

In [42]:
80/80*100

100.0

# Note:- 
### We can see that we were successfully increase the accuracy of the model from 76% to 100% with the help of StandardScalar

In [43]:
result=model.predict([[1,35,75000]])
print(result)

[0]

In [44]:
if result==1:
    print("Automobile was purchased")
else:
    print("Automibile was not purchased")

Automibile was not purchased

### We will import numpy to take input in the form of arrays/ it is the standard procedure

In [45]:
import numpy as np
new_inputs=np.array([[0,19,20000]])
new_inputs=sc.transform(new_inputs)
res=model.predict(new_inputs)
print(res)

[0]

C:\Users\mf879\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [46]:
res=model.predict([[0,19,20000]])
print(res)

[0]